#mast {
	background:transparent;
	height:154px;
	color:#fff;
}

#survey,
#results {
	background:#e8e8e8;
}

fieldset.ratings-radio {
	border:1px solid #e8e8e8;
}

.section h2 {
	color:#999999;
}

#footer {
	background:transparent;
	color:#fff;
}

footer {
	background:transparent;
	color:#fff;
}

#sections .container {
	background:#999999;
}
#sections h2 {
	color:#ccc;
	border-right-color:#7e7e7e;
}

#sections h2.active {
	background:#7e7e7e;
	color:#fff;
}


#progress {
	background:#999999;
	color:#fff;
}

#progress .container {
	background:#999999;
	color:#fff;
}

#progress a,
#progress button {
	background:#000;
	color:#fff;
}

#previous {
	background:#666666;
	color:#fff;
}

#next {
	background:#333333;
	color:#fff;
}

#submit {
	background:#333333;
	color:#fff;
}

#start-survey {
	background:#333333;
	color:#fff;
}