body {
	background:#f9f9f9;
	background: -moz-linear-gradient(top,  #f9f9f9,  #eaebed);
	background: -o-linear-gradient(top,  #f9f9f9,  #eaebed);
	background: #eaebed -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#eaebed)) no-repeat;
}

#mast {
	background:transparent;
	height:154px;
	color:#fff;
}

#survey,
#results {
	background:#e8e8e8;
}

#survey.welcome {
	width:590px;
	background:transparent;
}
fieldset.ratings-radio {
	border:1px solid #e8e8e8;
}

.section h2 {
	color:#999999;
}

#footer {
	background:transparent;
	color:#4b4b4b;
}

footer {
	background:transparent;
	color:#4b4b4b;
}

#sections .container {
	background:#999999;
}

#sections h2 {
	color:#ccc;
	border-right-color:#7e7e7e;
}

#sections h2.active {
	background:#7e7e7e;
	color:#fff;
}

#progress,
#progress .container  {
	background:#999999;
	color:#fff;
}

#progress a,
#progress button {
	background:#000;
	color:#fff;
}

#previous {
	background:#666666;
	color:#fff;
}

#next,
#submit,
#start-survey {
	background:#333333;
	color:#fff;
}
#footer div.copyright {
	padding-top:35px;
}

#footer .top-drop-shadow,
#mast .bottom-drop-shadow {
	display:none;
}