#mast {
	background:#4b4b4b;
	height:154px;
	color:#fff;
}

#survey,
#results {
	background:#e8e8e8;
}

fieldset.ratings-radio {
	border:1px solid #e8e8e8;
}

.section h2 {
	color:#999999;
}

#footer {
	background:#4b4b4b;
	color:#c7c618;
}

footer {
	background:#4b4b4b;
	color:#c7c618;
}

#sections .container {
	background:#999999;
}

#sections h2 {
	color:#ccc;
	border-right-color:#7e7e7e;
}

#sections h2.active {
	background:#7e7e7e;
	color:#fff;
}

#progress,
#progress .container  {
	background:#999999;
	color:#fff;
}

#progress a,
#progress button {
	background:#000;
	color:#fff;
}

#previous {
	background:#666666;
	color:#fff;
}

#next,
#submit,
#start-survey {
	background:#333333;
	color:#fff;
}