<section id="{{ section.id }}" data-index="{{ section.index }}" class="section {% if loop.index > 1%}js-hide{% endif %}">
	<header>
		<h2>{{ section.name }}</h2>
	</header>
	{% for question, questionResults in section.results.items() %}	
	<section id="{{ questionResults.id }}" class="question">
		<header>
			<h3>{{ questionResults.name }}</h3>
		</header>
		{% if questionResults.type == 'single' %}
			{% for answerObj in questionResults.answers %}
			<p class="text-answer">
				<span>{{ answerObj.user.name }}, {{ answerObj.user.account }} ({{ answerObj.date.strftime("d/m/Y H:i") }}):</span>
				<em>&quot;{{ answerObj.answer }}&quot;</em>
			</p>
			{% endfor %}
		{% else %}
		<img src="http://{{ chartApiSubDomainList|random }}.chart.apis.google.com/chart?chs=426x200&amp;cht=p3&amp;chf=bg,s,E8E8E8&amp;chma=5,5,5,75|50,20&amp;chd=t:{% for key, value in questionResults.count.items() %}{{ value }}{% if not loop.last %},{% endif %}{% endfor %}&amp;chl={% for key, value in questionResults.percentage.items() %}{{ '%.1f'|format(value) }}%{% if not loop.last %}|{% endif %}{% endfor %}&amp;chdl={% for key, value in questionResults.count.items() %}{{ key }} : {{value}} vote{% if value != 1 %}s{% endif %}{% if not loop.last %}|{% endif %}{% endfor %}&amp;chdlp=l&amp;chdls=000000,14&amp;chco=0000FF" width="426" height="200" alt="{{ question.name }}" />
		{% endif %}
	</section>
	{% endfor %}
</section>