<head>
	<meta charset="utf-8">
	<title>{{ brandDisplayName }} Client Satisfaction Survey</title>
	<meta name="robots" content="noindex, nofollow"/>
	<meta name="googlebot" content="noindex, nofollow, noarchive"/>	
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="icon" href="/favicon.ico"/>
	<!--[if lt IE 9]>
	<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="/static/css/styles.css?v={{ build_version }}"/>
	{% if brand %}
	<link rel="stylesheet" href="/static/css/{{ brand }}.css?v={{ build_version }}"/>
	{% endif %}
</head>