<div id="sections">
	<div class="container">
		<header>
			<hgroup>
				{% for section in sections %}			
				<h2 class="{% if loop.index == 1 %}active {% endif %}{% if loop.last %}last{% endif %}" data-id="{{section.id}}">{{section.name}}</h2>
				{% endfor %}
			</hgroup>
		</header>
	</div>
	<div class="bottom-drop-shadow"></div>
</div>