<div id="mast">
	<header>
		<div class="fill">
			<h1>
				Admin
				{% if adminUser %}
				<span class="user">Signed in as {{ adminUser.email }}</span>
				{% endif %}
				<div class="bottom-drop-shadow"></div>
			</h1>
			{% if sectionContent %}
			<nav id="admin">
				<form method="get" action="/admin">
					<fieldset>
						{#
						<label for="section">Results for Section </label>
						<select id="section" name="section">
							{% for section in sectionContent %}
							{% if section.name != "OpenQuestions" %}
							<option value="{{ section.id }}" {% if requestedSection == section.name %}selected="selected"{% endif %}>{{ section.name }}</option>
							{% endif %}
							{% endfor %}
						</select>
						#}
						<label for="brand">View results for </label>
						<select id="brand" name="brand">
							{% for brandArg in brands %}
							<option value="{{ brandArg.id }}" {% if requestedBrand == brandArg.id %}selected="selected"{% endif %}>{{ brandArg.name }}</option>
							{% endfor %}
						</select>
						<label for="since">since</label>
						<select id="since" name="since">
							<option value="yesterday"{% if since == "yesterday" %} selected="selected"{% endif %}>Yesterday</option>
							<option value="lastweek"{% if since == "lastweek" %} selected="selected"{% endif %}>Last week</option>
							<option value="lastmonth"{% if since == "lastmonth" %} selected="selected"{% endif %}>Last month</option>
						</select>
						<button id="go" value="submit">Go</button>
					</fieldset>
				</form>
			</nav>	
			{% endif %}	
		</div>				
	</header>
</div>