<div id="footer">
	<footer>
		<div class="fill">
			<div class="container">
				<div class="top-drop-shadow"></div>
				<div class="copyright">&copy; Razorfish {{ today.year }}</div>
				<div class="brand">
					{% if brand == 'mcdonalds' %}
					<img src="/static/img/{{ brand }}/footer-logo.png" alt={{ brandDisplayName }} />
					{% else %}
					<img src="/static/img/{{ brand }}/footer-logo.gif" alt={{ brandDisplayName }} />
					{% endif %}
				</div>
			</div>
		</div>
	</footer>
</div>