<div id="mast">
	<header>
		<div class="fill">
			<h1>
				{% if brand == 'mcdonalds' %}
				<img src="/static/img/{{ brand }}/h1.png" alt="{{ brandDisplayName }}" />
				{% else %}
				<img src="/static/img/{{ brand }}/h1.gif" alt="{{ brandDisplayName }}" />
				{% endif %}
				<span>{{ brandDisplayName }} Client satisfaction survey</span>
				<div class="bottom-drop-shadow"></div>
			</h1>
		</div>				
	</header>
</div>