<div id="progress">
	<div class="container">
		<div class="fill">
			<a href="#" class="hide" id="previous">Back</a>
			<div class="hide js-show"><span id="counter">1</span> of <span id="qty">{{ sections|length }}</span></div>
			<button class="js-hide" type="submit" value="submit" id="submit">Submit survey</button>
			<a href="#" class="hide js-show" id="next">Next</a>
		</div>
		<div class="bottom-drop-shadow"></div>
	</div>
</div>