<div id="{{section.id}}" class="section position-{{loop.index}} {% if loop.index > 1 %}js-hide{% endif %}" data-index="{{ loop.index0 }}">
	<section>
		{% if section.instructions %}
		<header>
			<h2>{{ section.instructions }}</h2>
		</header>
		{% endif %}
		{% for key, value in section.questions.items() %}
			{% if value.verbose_name %}
			<fieldset id="fieldset-{{ key }}" class="question">
				{% if value.choices %}
					<header>
						<h3>{{ value.verbose_name }}</h3>
					</header>
					<fieldset class="ratings-radio">
					{% for option in value.choices %}
						<input {% for x in results %}{% if option == x.1 and value.name == x.0 %}checked="checked"{% else %}{% endif %}{% endfor %} id="{{ value.name }}-{{ option }}" type="radio" name="{{ value.name }}" value="{{ option }}"/><label for="{{ value.name }}-{{ option }}">{% if option == 0 %}N/A{% else %}{{ option }}{% endif %}</label>
					{% endfor %}
						{% if section.error_message %}<span class="message">{{ section.error_message }}</span>{% endif %}
					</fieldset>				
				{% else %}  
					<label for="{{ key }}">
					<header>
						<h3>{{ value.verbose_name }}</h3>
					</header>                       
					</label>
					<textarea id="{{ key }}" name="{{ key }}" rows="5" columns="10"></textarea>
				{% endif %}
	        </fieldset>
			{% endif %} 
		{% endfor %}	
	</section>
</div>