.admin em {
	font-style:italic;
}

.admin h1 {
	padding-top:15px;
	width:952px;
	height:154px;
}
.admin h1 .bottom-drop-shadow {
	bottom:20px;
}

.admin h1 span {
	display:block;
	text-indent:0em;
}

.admin h2 {
	font-size:2em;
	margin:0 0 10px 0;
	padding:0 0 20px 0;
	color:#000;
}

.admin #mast {
	font-size:2.5em;
}

header#mast h1 span.user {
	display:block;
	text-indent:0em;
	font-size:0.5em;
}

#results {
	text-align:left;
	width:892px;
	height:100%;	
	display:block;	
	position:relative;
	padding:0px 30px 50px 30px;
}

#results .section {
	overflow:hidden;
}

#results .section h2 {
	font-size:2.0em;
	margin:0 0 10px 0;
	padding:0 0 20px 0;
	color:#000;
}

#results .question {
	float:left;
	margin:0 20px 20px 0;
	width:426px;
}

#results h3 {
	padding:5px;
	font-size:1.2em;
	margin:0 0 10px 0;
}

nav#admin {
	width:100%;
	font-size:0.3em;
	text-align:left;
}

nav#admin form {
	position:relative;
	width:952px;
	margin:0 auto;	
}

nav#admin form fieldset {
	position:absolute;
	bottom:25px;
	left:0px;
}
nav#admin button {
	padding:5px 10px;
}

/*
*	UI for adding Clients
*/
#add-client {
	width:350px;
}

#add-client fieldset {
	padding:10px;
	position:relative;
}

#add-client fieldset input {
	padding:3px 5px;
	width:200px;
	float:right;
}

#clients section {
	padding:20px;
	background:#fff;
}

#clients section:nth-child(odd) {
	background:#ccc;
}

#sections h2 {
	cursor:pointer;
}

#results .text-answer span {
	display:block;
	width:100%;
	margin:0 0 5px 0;
	color:#999;
}

#results .text-answer em {
	color:#333;
}