* {-webkit-tap-highlight-color:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,textarea,p,blockquote,th,td,button{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,button{border:0;}address,caption,cite,code,dfn,em,strong,th,var,button{font-style:normal;font-weight:normal;}ol,ul,dl{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6,button,textarea{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;}

body {
	background:#fff;
	font-family:Arial, Verdana, Helvetica;
	font-size:1.0em;
	color:#000;
	text-align:center;
	width:100%;
	height:100%;
}  

textarea {
	font-family:Arial, Verdana, Helvetica;
}
button {
	cursor:pointer;
}
a {
	cursor:pointer;
	color:inherit;           
	text-decoration:none;
}                
a:hover,
a:active,
a:visited {
	text-decoration:none;
} 

strong {
	font-weight:bold;
}   
article,
section,  
header,
hgroup,
footer,
nav  {
	display:block;	
}

#shell {
	width:952px;
	min-height:514px; /* minimum height of 768x pixels, minus 154 pixels for Header and 100 pixels for Footer */
	position:relative;
	margin:0 auto;
	text-align:left;
}

.js .js-hide {
	display:none !important;
}

.js .js-show {
	display:block !important;
}

.hide {
   display:none !important;
}

#intro nav {
	padding:20px;
}