.bottom-drop-shadow {
	background:transparent;
	position:absolute;
	bottom:5px;
	left:0px;
	width:100%;
	height:10px;
	z-index:-2;
	-webkit-box-shadow: 0 8px 15px #888;
	-moz-box-shadow: 0 8px 15px #888;
	box-shadow: 0 8px 15px #888;
	-webkit-border-bottom-left-radius:450px 20px;
	-webkit-border-bottom-right-radius:450px 20px;
	border-bottom-left-radius:450px 20px;
	border-bottom-right-radius:450px 20px;
}

.top-drop-shadow {
	background:transparent;
	position:absolute;
	top:5px;
	left:0px;
	width:100%;
	height:10px;
	z-index:-2;
	-webkit-box-shadow: 0 -8px 10px #888;
	-moz-box-shadow: 0 -8px 10px #888;
	box-shadow: 0 -8px 10px #888;
	-webkit-border-top-left-radius:450px 10px;
	-webkit-border-top-right-radius:450px 10px;
	border-top-left-radius:450px 10px;
	border-top-right-radius:450px 10px;
}

#sections .bottom-drop-shadow {
	z-index:0;
	bottom:23px;
}

#progress .bottom-drop-shadow {
	z-index:0;
}