#footer {
	width:100%;
	height:100px;
	z-index:-1;
	margin:40px 0 0 0;	
}

#footer footer {
	width:100%;
	height:100px;
	z-index:-1;
}

#footer .fill {
	width:100%;
	height:100%;
	background:inherit;
}

#footer div.container {
	position:relative;
	width:952px;
	margin:0 auto;
	text-align:left;
}

#footer div.copyright {
	padding:20px 0 0 0;
}

#footer div.brand {
	position:absolute;
	right:0px;
	top:0px;
}