#mast {
	margin:0 0 40px 0;
}

#mast .fill {
	width:100%;
	height:100%;
	background:inherit;
}
#mast h1 {
	width:948px;
	height:154px;
	margin:0 auto;
	text-align:left;
	position:relative;
}

#mast h1 span {
	display:block;
	text-indent:-10000em;
}