#sections {
	position:absolute;
	top:20px;
	left:0px;
	overflow:hidden;
	width:100%;
	height:70px;
}

#sections .container {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:52px;
	z-index:1;
}

#sections h2 {
	display:block;
	float:left;
	width:135px;
	padding:15px 0;
	height:22px;
	text-align:center;
	font-size:1.2em;
	border-right-style:solid;
	border-right-width:1px;
}

#sections h2.last {
	border-right-style:none;
	border-right-width:0px;
}

#sections h2.active {
	/*
	*	See brand css
	*/
}

#progress .container {
	width:952px;
	position:absolute;
	bottom:20px;
	left:0px;
	text-align:center;
	padding:5px 0;
	height:15px;
	font-size:0.85em;
}

#progress .fill {
	background:inherit;
	position:absolute;
	left:0px;
	top:0px;
	width:952px;
	height:15px;
	padding:5px 0;
	z-index:1;
	text-align:center;
}

#progress a {
	border:none;
	display:block;
	text-align:center;
	width:160px;
	height:15px;
	padding:5px 0;	
}


#submit {
	border:none;
	display:block;
	text-align:center;
	width:160px;
	height:25px;
	padding:4px 0px 5px 0;
}

#previous {
	position:absolute;
	left:0px;
	top:0px;
}

#next,
#submit {
	position:absolute;
	left:792px;
	top:0px;
}

#start-survey {
	display:block;
	width:160px;
	height:26px;
	position:relative;
}

#start-survey span {
	background:inherit;
	position:relative;
	top:0px;
	left:0px;
	line-height:25px;
	display:block;
	width:160px;
	height:26px;
	text-align:center;
	z-index:1;
}

#start-survey .bottom-drop-shadow {
	z-index:0;
}

#start {
	margin:40px 0 0 0;
	font-size:0.8em;
}