#survey {
	width:892px;
	position:relative;
	padding:70px 30px 50px 30px;
}

.section {
	text-align:left;
	padding:20px 0 0 0;
} 

.new .section {
	min-height:500px;
	padding:20px 0;
}

#survey p,
.section p {
	padding:10px 0;
}
.section h2 {
	padding:20px 0;
}

.new #survey h2,
.success #survey h2,
.error-404 #survey h2 {
	font-size:3.0em;
	padding-bottom:30px;
}

.question {
	padding:10px 0;
}
.question-set {
	margin:0 0 50px 0;
}

fieldset.error {
	-webkit-box-shadow: 0 0 10px red inset;
	-moz-box-shadow: 0 0 10px red inset;
	-o-box-shadow: 0 0 10px red inset;
	-ms-box-shadow: 0 0 10px red inset;
	box-shadow: 0 0 10px red inset;
	border:1px solid red !important;
}

fieldset .message {
	display:none;
}

fieldset.error .message {
	display:inline-block;
	margin:0 0 0 30px;
}

fieldset.ratings-radio {
	display:block;
	padding:10px;
}

fieldset.ratings-radio label {
	margin:0 20px 0 0;
	cursor:pointer;
}
fieldset h3 {
	margin:0 0 10px 0;
} 

textarea {
	width:300px;
	height:100px;
	padding:10px;
}
input[type=radio] {
	margin:0 5px 0 0;
	cursor:pointer;
}



/*
*	The Sections will be written out in sort order.
*	However, as they are absolutely positioned we need a reverse z-index value
*/
.position-1 {
	z-index:7;
}
.position-2 {
	z-index:6;
}
.position-3 {
	z-index:5;
}
.position-4 {
	z-index:4;
}
.position-5 {
	z-index:3;
}
.position-6 {
	z-index:2;
}
.position-7 {
	z-index:1;
}