<!DOCTYPE html>
<html lang="en">
{% include "includes/head.html" %}
<body class="admin">
	{% include "includes/admin-header.html" %}
	<article id="shell">	
		<header>	
			<h2>Add a client</h2>
			{% if error and error == 'no-data' %}
			<h3 class="error">You must complete all fields</h3>
			{% endif %}
		</header>
		<form id="add-client" method="post" action="/admin/clients" class="{% if error and error == 'no-data' %}error{% endif %}">
			<fieldset>
				<label for="name">Name</label>
				<input type="text" name="name" id="name" value="" placeholder="e.g. Jane Smith" />
			</fieldset>
			<fieldset>
				<label for="role">Role</label>
				<input type="text" name="role" id="role" value="" placeholder="e.g. Marketing Manager" />
			</fieldset>
			<fieldset>
				<label for="email">Email</label>
				<input type="text" name="email" id="email" value="" placeholder="e.g. Jane.Smith@unilever.com"/>
			</fieldset>
			<fieldset>
				<label for="account">Account</label>
				<input type="text" name="account" id="account" value="" placeholder="e.g. Unilever" />
			</fieldset>
			<fieldset>
				<label for="owner">Owner</label>
				<input type="text" name="owner" id="owner" value="" placeholder="e.g. Matt Warren" />
			</fieldset>	
			<fieldset>		
				<button id="submit" style="position:static;">
					<span>Add Client</span>
				</button>
			</fieldset>
		</form>
		
		{% if clients %}
		<section id="clients">
			<header>
				<h2>Existing Clients</h2>
			</header>
			{% for client in clients %}
			<section>
				Survey URL: <a href="https://{{ default_version_hostname }}/{{ client_survey_url_brand }}/{{ client.user_id }}" target="_blank">https://{{ default_version_hostname }}/{{ client_survey_url_brand }}/{{ client.user_id }}</a><br/>
				Name: {{ client.name }}<br/>
				Job Title: {{ client.role }}<br/>
				Account: {{ client.account }}<br/>
				Email: {{ client.email }}<br/>
				RF Contacts: {{client.owner }}
			</section>
			{% endfor %}
		</section>
		{% endif %}
	</article>
	{% include "includes/admin-footer.html" %}
</body>
</html>