<!DOCTYPE html>
<html lang="en">
{% include "includes/head.html" %}
<body class="{{ viewState }}">
	{% include "includes/header.html" %}
	<div id="shell">
		<article>
			<div id="survey">
			{% if viewState == "error-404" %}			
				<section>
					<header>
						<h2>Oops</h2>
					</header>
					<p>
						Sorry, you have arrived at an invalid page.
					</p>
					<p>
						Please contact your Razorfish Client Services representative for the correct address for the Survey.
					</p>
					<p>
						Thanks.
					</p>			
				</section>
			{% endif %}	
			{% if viewState == "error-500" %}
				<section>
					<header>
						<h2>Sorry</h2>
					</header>
					<p>
						We encountered an error saving your Survey.
					</p>
					<p>
						However, don't worry as a Client Services representative has been sent an email with your answers to all of the questions, so that you don't have to re-submit the Survey.
					</p>
					<p>
						Thank you.
					</p>			
				</section>
			{% endif %}	
			</div>
		</article>
	</div>
	{% include "includes/footer.html" %}
	<script src="/static/js/scripts.js?v={{appVersion}}"></script>
	<script type="text/javascript">
	//<![CDATA [
		{% include "includes/google-analytics-library.html" %}
	//]]>
	</script>
</body>
</html>