<!DOCTYPE html>
<html lang="en">
{% include "includes/head.html" %}
<body class="{{ viewState }}">
	{% include "includes/header.html" %}
	<div id="shell">
		<article>
			{% if viewState == "new" %}
			<div id="survey" class="welcome">
				<section>
					<header>
						<h2>Hello</h2>
					</header>
					{% if brand == 'razorfish' %}
					<p>{{ home_content.razorfish.welcome_p1 }}</p>
					<p>{{ home_content.razorfish.welcome_p2 }}</p>
					<p>{{ home_content.razorfish.welcome_p3 }}</p>
					{% endif %}
					{% if brand == 'mcdonalds' %}
					<p>{{ home_content.mcdonalds.welcome_p1 }}</p>
					<p>{{ home_content.mcdonalds.welcome_p2 }}</p>
					<p>{{ home_content.mcdonalds.welcome_p3 }}</p>
					{% endif %}
					<nav id="start">
						<form method="post" action="/{{ brand }}/{{ user }}">
							<input type="hidden" id="brand" name="brand" value="{{ brand }}" />
							<input type="hidden" id="session" name="session" value="{{ user }}" />
							{#
							<a href="/{{ brand }}/{{ user }}/start" id="start-survey">
								<span>Start survey</span>
								<div class="bottom-drop-shadow"></div>
							</a>				
							#}
							<button type="submit" id="start-survey">
								<span>Start survey</span>
								<div class="bottom-drop-shadow"></div>
							</button>
						</form>
					</nav>
				</section>
			</div>
			{% endif %}
			{% if viewState == "start" %}
			<div id="survey">
				<section>
					{% include "includes/navigation-sections.html" %}
					<form id="survey-form" method="post" action="/">
						<input type="hidden" id="brand" name="brand" value="{{ brand }}" />
						<input type="hidden" id="session" name="session" value="{{ user }}" />
						{% for section in sections %}
							<div id="{{section.id}}" class="section position-{{loop.index}} {% if loop.index > 1 %}js-hide{% endif %}" data-index="{{ loop.index0 }}">
								<section>
									{% if section.instructions %}
									<header>
										<h2>{{ section.instructions }}</h2>
									</header>
									{% endif %}
									{% for key, value in section.questions.items() %}
										{% if value.verbose_name %}
										<fieldset id="fieldset-{{ key }}" class="question">
											{% if value.choices %}
												<header>
													<h3>{{ value.verbose_name }}</h3>
												</header>
												<fieldset class="ratings-radio">
												{% for option in value.choices %}
													<input {% for x in results %}{% if option == x.1 and value.name == x.0 %}checked="checked"{% else %}{% endif %}{% endfor %} id="{{ value.name }}-{{ option }}" type="radio" name="{{ value.name }}" value="{{ option }}"/><label for="{{ value.name }}-{{ option }}">{% if option == 0 %}N/A{% else %}{{ option }}{% endif %}</label>
												{% endfor %}
													{% if section.error_message %}<span class="message">{{ section.error_message }}</span>{% endif %}
												</fieldset>				
											{% else %}  
												<label for="{{ key }}">
												<header>
													<h3>{{ value.verbose_name }}</h3>
												</header>                       
												</label>
												<textarea id="{{ key }}" name="{{ key }}" rows="5" columns="10"></textarea>
											{% endif %}
								        </fieldset>
										{% endif %} 
									{% endfor %}	
								</section>
							</div>
						{% endfor %}
						{% include "includes/navigation-progress.html" %}
					</form>			
				</section>
			</div>
			{% endif %}
		</article>
	</div>
	{% include "includes/footer.html" %}
	<script src="/static/js/scripts.js?v={{ build_version }}"></script>
	<script type="text/javascript">
	//<![CDATA [
		{% include "includes/google-analytics-library.html" %}
	
		window.addEvents({
			"domready": function(e) {
				RIA.SurveyInit = new RIA.Survey({brand:'{{ brand }}', token:'{{ user }}'});
			}
		});
	//]]>
	</script>
</body>
</html>