<!DOCTYPE html>
<html lang="en">
{% include "includes/head.html" %}
<body class="success">
	{% include "includes/header.html" %}
	<div id="shell">
		<article>
			<div id="survey">
				<section>
					<header>
						<hgroup>
							<h2>Finished!</h2>
							<h3>Thanks for all your responses.</h3>
						</hgroup>
					</header>	
				</section>
			</div>
		</article>
	</div>
	{% include "includes/footer.html" %}
	<script type="text/javascript">
	//<![CDATA [
		{% include "includes/google-analytics-library.html" %}
	//]]>
	</script>
</body>
</html>